.fieldWrapper {
  min-height: 100vh;
  width: auto;
  margin: 0px 1rem 0px 4rem;
  padding-top: 8rem;
}

@media only screen and (min-width: 640px) {
  .fieldWrapper {
    width: 80%;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 768px) {
  .fieldWrapper {
    width: 70%;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1024px) {
  .fieldWrapper {
    width: 50%;
  }
}

.questionWrapper {
  position: relative;
  height: auto;
}

.counterWrapper {
  position: absolute;
  right: 100%;
  top: 0;
  width: 3rem;
  height: 3rem;
  font-size: 1.3rem;
}

.askWrapper {
}

.choicesWrapper {
  margin: 2rem 0rem;
}

.choiceWrapper:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choiceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  background: var(--neutral-up);
  width: 100%;
  margin-bottom: 0.4rem;
  border-radius: 0.125rem;
  cursor: pointer;
}

.choiceMarker {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.125rem;
}

.choice {
}
