.quizNav {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background: var(--neutral-up);
  padding: 6rem 1.4rem;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 10px 20px 20px 10px;
}

@media only screen and (min-width: 300px) {
  .quizNav {
    width: 16rem;
  }
}

@media only screen and (min-width: 1024px) {
  .quizNav {
    display: block !important;
  }
}

.questionNav:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.questionNav:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.questionNav {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.125rem;
}

.answered:hover {
  background-color: var(--accent-down);
}

.answered:active {
  background-color: rgba(255, 255, 255);
}

.answered {
  background: var(--accent);
  color: var(--neutral-down);
}

.actionButton:hover {
  background-color: var(--accent-down);
}

.actionButton {
  margin: 1rem 0rem;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: var(--neutral-down);
  border-radius: 0.125rem;
}
